.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav h5{
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav h5:hover{
    color: #f1f1f1;
    cursor: pointer;
}
.sidenav h4{
    padding: 6px 8px 6px 16px;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav h4:hover{
    color: #f1f1f1;
    cursor: pointer;
}
li {
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: column;
}