
.navBar {
  background: rgb(1, 16, 29);
  box-shadow: 4px 2px 5px gray;
  color: white;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}



.brand {
  cursor: pointer;
  font-size: 2rem;
  color: #818181;
}
