.task{
    border-style: solid;
    max-width: 300px;
    min-width: 150px;
    max-height: 100px;
    margin: 10px;

}
.task-description{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


